@{
    ViewBag.Title = "QQ登录";
    Layout = "~/Views/Shared/MasterView/MainView.cshtml";
}

<h1>
    正在登录中...
</h1>

<script type="text/javascript">
    $(function () {
        XCLShouCang.Login.QQLoginCallBack.Init();
    });
</script>