@{
    Layout = "~/Views/Shared/MasterView/MainView.cshtml";
}

<div class="MyWebTypeListContainer">

</div>

<script type="text/javascript">
    $(function () {
        XCLShouCang.UserAdmin.MyHome.Init();
    });
</script>