@{
    ViewBag.Title = "在线留言";
    Layout = "~/Views/Shared/MasterView/MainView.cshtml";
}


<!-- UY BEGIN -->
<div id="uyan_frame" style="padding:20px;"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2078923"></script>
<!-- UY END -->



<script type="text/javascript">
    $(function () {
        XCLShouCang.Common.Comment.Init();
    });
</script>