@{
    ViewBag.Title = "如何使用";
    Layout = "~/Views/Shared/MasterView/MainView.cshtml";
}

<div class="panel panel-info">
  <div class="panel-heading"><h1>如何使用</h1></div>
  <div class="panel-body">


  </div>
</div>