<?xml version="1.0" encoding="utf-8" ?>
<!--静态资源版本控制-->
<Root>
    <File Type="Css"  Name="base.css"  Src="~/Resources/Css/base.css?v=20141103" Attr=""></File>

    <File Type="JS" Name="jqurey"  Src="~/Resources/Js/Jquery/jquery-1.11.1.min.js?v=20141103" Attr=""></File>

    
    <File Type="Css" Name="bootstrap.css"  Src="~/Resources/Js/Bootstrap/css/bootstrap.css?v=20141103" Attr=""></File>
    <File Type="JS" Name="bootstrap.js"  Src="~/Resources/Js/Bootstrap/js/bootstrap.js?v=20141103" Attr=""></File>
    <!--<File Type="Css" Name="bootstrap-switch.css"  Src="~/Resources/Js/BootstrapSwitch/bootstrap-switch.css?v=20141103" Attr=""></File>
    <File Type="JS" Name="bootstrap-switch.js"  Src="~/Resources/Js/BootstrapSwitch/bootstrap-switch.js?v=20141103" Attr=""></File>-->

    <File Type="JS" Name="html5shiv.min.js"  Src="~/Resources/Js/html5shiv.min.js?v=20141103" Attr=""></File>
    <File Type="JS" Name="respond.min.js"  Src="~/Resources/Js/respond.min.js?v=20141103" Attr=""></File>

    <File Type="Css" Name="artDialog.css"  Src="~/Resources/Js/artDialog/skins/blue.css?v=20141103" Attr=""></File>
    <File Type="JS" Name="artDialog.js"  Src="~/Resources/Js/artDialog/artDialog.js?v=20141103" Attr=""></File>
    <File Type="JS" Name="artDialog.iframeTools.js"  Src="~/Resources/Js/artDialog/plugins/iframeTools.js?v=20141103" Attr=""></File>

    <File Type="Css" Name="FormValid.css"  Src="~/Resources/Js/FormValid/FormValid.css?v=20141103" Attr=""></File>
    <File Type="JS" Name="FormValid.js"  Src="~/Resources/Js/FormValid/FormValid.js?v=20141103" Attr=""></File>
    
    <File Type="JS" Name="table.js"  Src="~/Resources/Js/table.js?v=20141103" Attr=""></File>
    <File Type="JS" Name="GoAjax.js"  Src="~/Resources/Js/GoAjax.js?v=20141103" Attr=""></File>
    <File Type="JS" Name="XCLShouCang.js"  Src="~/Resources/Js/XCLShouCang.js?v=20141103" Attr=""></File>

    <!--<File Type="JS" Name="jquery.textEllipsis.js"  Src="~/Resources/Js/textEllipsis/jquery.textEllipsis.js?v=20141103" Attr=""></File>-->

    <File Type="JS" Name="BootstrapTypeahead"  Src="~/Resources/Js/BootstrapTypeahead/bootstrap-typeahead.js?v=20141103" Attr=""></File>

    <File Type="JS" Name="stickUp.js"  Src="~/Resources/Js/Stickup/stickUp.js?v=20141103" Attr=""></File>

    <File Type="Css" Name="iCheck.css"  Src="~/Resources/Js/iCheck/skins/square/_all.css?v=20141103" Attr=""></File>
    <File Type="JS" Name="iCheck.js"  Src="~/Resources/Js/iCheck/iCheck.js?v=20141103" Attr=""></File>
</Root>



