<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="Server=XCL-PC\SQL2012;Database=XCLShouCangDB;User Id=sa;Password=sa1989;"/>
  
  


    <add key="WebURL" value="http://www.wdydh.com"/>
    <add key="WebMainURL" value="http://www.wdydh.com"/>
    <add key="WebName" value="我的云导航"/>
    <add key="Title" value="我的云导航，最好用的网络收藏夹，完全自定义的在线网址收藏夹，无广告，全免费，比hao123网址导航，网络收藏夹，更简洁、更好用的自定义云导航网站， 一键收藏，随处访问！wdydh.com"/>
    <add key="KeyWords" value="网络收藏夹,我的网络收藏夹,360网络收藏夹,自定义网址收藏夹,qq网络收藏夹 ,在线网络收藏夹,最好用的网络收藏夹,我的云导航,个人收藏夹,自定义收藏夹,在线收藏夹,云收藏夹,免费网址导航,我的网址导航,云网址导航,可修改的收藏夹,全自定义收藏夹,全自定义导航网站,无广告,简洁的网址导航，wdydh.com"/>
    <add key="Description" value="我的云导航网络收藏夹，永久免费，最简洁，最好用的个人网址云收藏夹，比hao123网址导航更简洁、无广告、更好用的自定义云导航网站， 一键收藏，随处访问！wdydh.com"/>
    <add key="SimpleDescription" value="永久免费，无广告，最简洁，最安全，最好用的个人网址云收藏夹"/>
    <add key="CopyRight" value="&amp;copy;2012-{Year} &lt;a href=&quot;http://www.wdydh.com&quot; target=&quot;_blank&quot;&gt;我的云导航（wdydh.com）&lt;/a&gt;. All Rights Reserved.  鄂ICP备14016278号-2 "/>
    <add key="AdminEmail" value="858999876@qq.com"/>

    <add key="QQAppID" value="101158309"/>
    <add key="QQAppKey" value="729ccbe35943fafd8892a61a15a476fa"/>
    <add key="QQLoginRedirectURL" value="http://www.wdydh.com/Login/QQLoginCallBack"/>
    <!--明文：XCL1989-->
    <add key="QQStateValue" value="F9D77151F0403B1F889ABBB3FF40F02A"/>
    <add key="QQStateKey" value="XCL1989"/>
        
</appSettings>
